@page "/posts/{id:int}"
@using FirstBlazorApp.Services
@inject PostService postService;

<h3></h3>
    
@foreach (var post in postService.GetAllPostsFromTheme(id))
{
    <PostComponent Post="post"></PostComponent>
}

@code {
    [Parameter]
    public int id { get; set; }

}
