@page "/posts/{id:int}"
@using FirstBlazorApp.Services
@using ForumAdminPanel.Models;
@inject PostService postService
@inject NavigationManager navManager

@if(addPostModalOn)
{
    <AddPostModalComponent CloseModal="CloseModal" ThemeId="id"></AddPostModalComponent>
}
<AuthorizeView>
    <Authorized>
        <button class="btn btn-success mb-1" @onclick="OpenModal">Add post</button>    
    </Authorized>
</AuthorizeView>
<button class="btn btn-info mb-1" @onclick="(()=>navManager.NavigateTo(locationForum+id.ToString(),true))">Return to themes</button>

@if(posts != null)
{
    @foreach (var post in posts)
    {
        <PostComponent Post="post"></PostComponent>
    }
}
else
{
    <p>No posts for theme!</p>
}

@code {
    [Parameter]
    public int id { get; set; }

    List<Post> posts = new List<Post>();

    protected override async Task OnInitializedAsync()
    {
        posts = await postService.GetAllPostsFromThemeAsync(id);
    }

    bool addPostModalOn = false;

    string locationForum = "/singleforum/";

    private void OpenModal()
    {
        addPostModalOn = true;
    }

    async Task CloseModal()
    {
        addPostModalOn = false;
        posts = await postService.GetAllPostsFromThemeAsync(id);
        StateHasChanged();
    }
}
