
@using FirstBlazorApp.Auth;
@using FirstBlazorApp.Models
@using System.Drawing;
@using System.Drawing.Imaging;
@using ForumAdminPanel.Models;

@inject AuthenticationStateProvider authStateProvider
@inject ImageService imageService
@inject UserService userService
@inject NavigationManager navManager
<div class="">
    <h5 style="border:1px grey solid; border-radius:5px">Image Upload Component</h5>   
    <div class="d-flex" style="width: 18rem;">
        <div>
           <img class="m-2" id="pic" width="150" height="150"/>
        </div>

        <div class="">
            <label for="img">Select image:</label>
            <InputFile class="custom-file-input btn btn-dark m-2"
                       oninput="pic.src=window.URL.createObjectURL(this.files[0])"
                       OnChange="OnInputFileChange" accept="image/png, image/jpeg, image/gif" id="inputFile" />
            <button onclick="@(()=>{SaveImage();})" type="button" class="w-50 btn btn-info m-2">Upload</button>
        </div>
    </div>


</div>

@code {

    public InputFileChangeEventArgs InputImage;

    private string imageSrc;
    protected override async Task OnInitializedAsync()
    {   
        var customAuthstateProvider = (AuthProccedure)authStateProvider;
        User user = await customAuthstateProvider.GetCurrentUserAsync();
        imageSrc = await imageService.GetImage(user);         
    }

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        InputImage = e;
        this.StateHasChanged();
    }

    public async Task SaveImage()
    {
        var customAuthstateProvider = (AuthProccedure)authStateProvider;
        User user = await customAuthstateProvider.GetCurrentUserAsync();
        imageService.SaveImagetoDatabase(InputImage,user);
        string location = "/userprofile/" + user.Id.ToString();
        navManager.NavigateTo(location, true);
    }
}
