@page "/forums"
@using FirstBlazorApp.Services;
@using ForumAdminPanel.Models;
@inject ForumService forumService

<div>
        @if (userIsAdmin)
        {
            <div>
                <div>
                    <button class="btn btn-outline-primary">Add new sub-forum</button>
                </div>
                <div>
                   <input />
                </div>
            </div>
        }
        else
        {
            <div>
                <p style="color:red">Only admins can open new sub forum</p>
            </div>
        }

</div>
<div class="d-flex flex">

<div class="row">
    @foreach (var forum in forumService.GetAllForums())
    {
        <ForumComponent Fora="forum"></ForumComponent>
    }
</div>
</div>


@code {
    bool userIsAdmin = false;
}
