@page "/forums"
@using FirstBlazorApp.Services;
@using ForumAdminPanel.Models;
@inject ForumService forumService

<div class="d-flex flex">

<div class="row">
    @foreach (var forum in forumService.GetAllForums())
    {
        <ForumComponent Fora="forum"></ForumComponent>
    }
</div>

    <div>
        <div>
            <button class="btn btn-outline-primary">Add new sub-forum</button>
        </div>
        <div>
           <input 
        </div>
    </div>  
</div>


@code {

    //List<>

    //protected override void OnInitialized()
    //{
        
    //}
}
