@using ForumAdminPanel.Models;
@inject NavigationManager navManager
@inject ForumService forumService

<div class="col-3 shadow">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@Fora.Name</h5>
            <p class="card-text">@Fora.Description</p>
            <button type="button" class="btn btn-outline-primary btn-sm" @onclick="@(()=>GoToForum(Fora.Id))">Go to themes</button>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public Fora Fora{ get; set; }

    private  void GoToForum(int id)
    {
        string location = "/singleforum/" + Fora.Id.ToString();

          navManager.NavigateTo(location, true);
    }
}
