@using ForumAdminPanel.Models;
@using FirstBlazorApp.Auth
@inject UserAccountService userAccountService
@inject AuthenticationStateProvider authStateProvider
@inject ThemeService themeService
@inject ImageService imageService

﻿<div class="modal fade show" id="myModal" 
        style="display:block; background-color: rgba(10,10,10,.8);"
        aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Title</h4>
                <button type="button" @onclick="(()=>CloseModal.InvokeAsync())" class="close">&times;</button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
                    <input @bind="newTheme.Title" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Theme description</span>
                    <input @bind="newTheme.ThemeBody" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div>
                    <label for="img">Select image:</label>
                    <InputFile class="custom-file-input" OnChange="OnInputFileChange" accept="image/png, image/jpeg, image/gif" id="inputFile" />
                </div>
            </div>
            <button @onclick="(()=>{AddNewTheme();})">Create theme</button>

            @*CloseModal.InvokeAsync();*@
        </div>
        
    </div>
</div>
@code {
    [Parameter]
    public int ForumId { get; set; }
    [Parameter]
    public EventCallback<Theme> CloseModal{ get; set; }

    Theme newTheme = new(){};

    async Task AddNewTheme()
    {   
        try
        {
            var customAuthstateProvider = (AuthProccedure)authStateProvider;
            User user = await customAuthstateProvider.GetCurrentUserAsync();
            await themeService.CreateNewTheme(newTheme, user.Id, ForumId);

            Theme currentTheme = themeService.GetThemeByTitle(newTheme.Title);

            await SaveImage(currentTheme);
        }
        catch (Exception)
        {
            
            throw;
        }
    }

    public InputFileChangeEventArgs InputImage;



    private string imageSrc;
    //protected override async Task OnInitializedAsync()
    //{
    //    var customAuthstateProvider = (AuthProccedure)authStateProvider;
    //    User user = await customAuthstateProvider.GetCurrentUserAsync();

    //}   

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        InputImage = e;
        this.StateHasChanged();
    }


    public async Task SaveImage(Theme currTheme)
    {   
        try
        {
            var customAuthstateProvider = (AuthProccedure)authStateProvider;
            User user = await customAuthstateProvider.GetCurrentUserAsync();

            imageService.SaveImagetoDatabase(InputImage, user, currTheme);
        }
        catch (Exception)
        {
            
            throw;
        }

    }
}
