@using FirstBlazorApp.Models;
<p>
    <b>Name : </b> <span>@currContact.FirstName @currContact.LastName</span><br>
    <b>Email: </b> <span>@currContact.Email</span>
</p>

@code{
    [Parameter]
    public Contact currContact { get; set; }

}