@page "/imageupload"
@using FirstBlazorApp.Models
@using System.Drawing;
@using System.Drawing.Imaging;

@inject ImageService imageService
<h3>ImageUploadComponent</h3>


    <label for="img">Select image:</label>
<InputFile class="custom-file-input" OnChange="SaveImagetoDatabase" accept="image/png, image/jpeg, image/gif" id="inputFile" />
    <button type="button">Upload</button>

<img src="@imageSrc" />
@code {

    private List<string> imageSources;

    Images Img = new Images();

    Images UpImg = new();

    Image IS;

    private string imageSrc;

    protected override async Task OnInitializedAsync()
    {
        UpImg = await imageService.GetImage(14);

        try
        {
            Byte[] data = new Byte[0];
            data = (Byte[])UpImg.Content;
            MemoryStream ms = new MemoryStream(data);
            IS = Image.FromStream(ms);

            ImageConverter ic = new ImageConverter();
            byte[] thumbBytes = (byte[])ic.ConvertTo(IS, typeof(byte[]));
            string img64 = Convert.ToBase64String(thumbBytes);
            imageSrc = string.Format("data:image/jpg;base64, {0}", img64);

            //imageSrc = string.Format("data:image/jpg;base64{0}", Convert.ToBase64String(UpImg.Content));
        }
        catch (Exception)
        {
            
            throw;
        }
    }

    public byte[] imageToByteArray(System.Drawing.Image imageIn)
    {
        MemoryStream ms = new MemoryStream();
        imageIn.Save(ms, System.Drawing.Imaging.ImageFormat.Jpeg);
        return ms.ToArray();
    }

    public async Task SaveImagetoDatabase(InputFileChangeEventArgs e)
    {   
        using MemoryStream ms = new();
        var resized = await e.File.RequestImageFileAsync(e.File.ContentType, maxWidth: 500, maxHeight: 800);
        using Stream fileStream = resized.OpenReadStream();
        await fileStream.CopyToAsync(ms);

        Img.Content = ms.ToArray();
        Img.Title = e.File.Name;
        Img.UserId = 1;

       imageService.SaveImage(Img);


        //var fileString = $"data:{e.File.ContentType};base64,{Convert.ToBase64String(ms.ToArray())}";

    }
}
