@page "/"

@*<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.Claims.First().Value</h1>
    </Authorized>
</AuthorizeView>

<form action="cookie" method="post">
    <input type="text" name="name" />
    <input type="submit" />
</form>*@