@page "/posts"
@using FirstBlazorApp.Services
@inject PostService postService;

<h3>Posts</h3>
    

@foreach (var post in postService.GetAllPosts())
{
    <PostComponent Post="post"></PostComponent>
}




@code {

  

}
