@using ForumAdminPanel.Models;
@inject AnswerService answerService
@inject UserService userService

<div class="card">
    <div class="card-header">
        <p>@user.UserName</p>
    </div>
    <div class="card-body">
        <p class="card-text">@Answer.Body</p>
        <p class="rounded-pill">@Answer.TimeAnswerCreated</p>
    </div>
</div>

@code {
    [Parameter]
    public Answer Answer { get; set; }

    User user = new User();

    protected override void OnInitialized()
    {
      user = userService.GetUser(Answer.UserId);
    }

}
