@using ForumAdminPanel.Models;
@using FirstBlazorApp.Pages.Answers
@inject PostService postService
@inject AnswerService answerService

<div class="mb-3 gap-2 w-75">
    <label class="form-label m-1">Add answer...</label>
    <input class="form-control m-1" type="text" @bind="answer.Body" />
<button class="btn btn-outline-success m-1" @onclick="(()=>AddAnswer.InvokeAsync(answer))">Add Answer...</button>
</div>
@code {

    [Parameter]
    public Post Post { get; set; }
    [Parameter]
    public EventCallback<Answer> AddAnswer{ get; set; }

    Answer answer = new Answer()
    {

    };

}
