@using ForumAdminPanel.Models;
@using FirstBlazorApp.Pages.Answers
@inject PostService postService
@inject AnswerService answerService

<h3>CreateAnswerComponent</h3>

<input type="text" @bind="answer.Body"/>
<button @onclick="(()=>AddAnswer.InvokeAsync(answer))">Add Answer</button>

@code {

    [Parameter]
    public Post Post { get; set; }
    [Parameter]
    public EventCallback<Answer> AddAnswer{ get; set; }

    Answer answer = new Answer()
    {

    };

    public async Task CreateAnswerAndUpdate()
    {
        await answerService.CreateAnswerAsync(Post.Id, 2, answer);
        answerService.GetAnswersForPost(Post.Id);

    }
}
