@page "/about"

<div class="about-section">
        <h1>About myForum</h1>
        <p>myForum is web app, developed in Blazor(server) framework as learning project and it is currently still under development in proportion to my learning..</p>
        <br />
    <div class="d-flex gap-2 justify-content-around">
        <div class="d-flex flex-column gap-2 p-2">
            <h3>Major features of app:</h3>
            <ul class="list-group">
                <li class="list-group-item list-group-item-success m-1">User roles: <p style="text-align: center; color:black;font-size: 14px;">Dummy desc</p></li>
                <li class="list-group-item list-group-item-success m-1">Creating account : <p style="text-align: center; color:black;font-size: 14px;">Dummy desc</p></li>
                <li class="list-group-item list-group-item-success m-1">Create theme : <p style="text-align: center; color:black;font-size: 14px;">Dummy desc</p></li>
                <li class="list-group-item list-group-item-success m-1">Creatr sub-forum : <p style="text-align: center; color:black;font-size: 14px;">Dummy desc</p></li>
                <li class="list-group-item list-group-item-success m-1">Add post to theme : <p style="text-align: center; color:black;font-size: 14px;">Dummy desc</p></li>
                <li class="list-group-item list-group-item-success m-1">Add answer to post : <p style="text-align: center; color:black;font-size: 14px;">Dummy desc</p></li>
                <li class="list-group-item list-group-item-success m-1">User profile manager : <p style="text-align: center; color:black;font-size: 14px;">Dummy desc</p></li>
                <li class="list-group-item list-group-item-success m-1">User manager : <p style="text-align: center; color:black;font-size: 14px;">Dummy desc</p></li>
                <li class="list-group-item list-group-item-success m-1">Register email notification (planed to create confirm email) : <p style="text-align: center; color:black;font-size: 14px;">Dummy desc</p></li>
                <li class="list-group-item list-group-item-success m-1">Live chat: <p style="text-align: center; color:black;font-size: 14px;">Dummy desc</p></li>
             </ul>
        </div>
        <div class="d-flex flex-column gap-2 p-2">
            <h3>Features planned to implement:</h3>
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary m-1">User roles: <p style="text-align: center; color:black;font-size: 14px;">Dummy desc</p></li>
                <li class="list-group-item list-group-item-primary m-1">Creating account : <p style="text-align: center; color:black;font-size: 14px;">Dummy desc</p></li>
                <li class="list-group-item list-group-item-primary m-1">Create theme : <p style="text-align: center; color:black;font-size: 14px;">Dummy desc</p></li>
                <li class="list-group-item list-group-item-primary m-1">Creatr sub-forum : <p style="text-align: center; color:black;font-size: 14px;">Dummy desc</p></li>
                <li class="list-group-item list-group-item-primary m-1">Add post to theme : <p style="text-align: center; color:black;font-size: 14px;">Dummy desc</p></li>
                <li class="list-group-item list-group-item-primary m-1">Add answer to post : <p style="text-align: center; color:black;font-size: 14px;">Dummy desc</p></li>
                <li class="list-group-item list-group-item-primary m-1">User profile manager : <p style="text-align: center; color:black;font-size: 14px;">Dummy desc</p></li>
                <li class="list-group-item list-group-item-primary m-1">User manager : <p style="text-align: center; color:black;font-size: 14px;">Dummy desc</p></li>
                <li class="list-group-item list-group-item-primary m-1">Register email notification (planed to create confirm email) : <p style="text-align: center; color:black;font-size: 14px;">Dummy desc</p></li>
                <li class="list-group-item list-group-item-primary m-1"> : <p style="text-align: center; color:black;font-size: 14px;">Dummy desc</p></li>
            </ul>
        </div>
        <div class="d-flex flex-column gap-2">
            <h3>Used technologies:</h3>
            <ul class="list-group">
                <li class="list-group-item list-group-item-info m-1">Bootstrap</li>
                <li class="list-group-item list-group-item-info m-1">.Net Core</li>
                <li class="list-group-item list-group-item-info m-1">Blazor (server-side) framework</li>
                <li class="list-group-item list-group-item-info m-1">Entity Framework</li>
                <li class="list-group-item list-group-item-info m-1">Microsoft SQL M/S</li>
                <li class="list-group-item list-group-item-info m-1">Azure SQL Database</li>
                <li class="list-group-item list-group-item-info m-1">Azure App Service (app publishing)</li>
                <li class="list-group-item list-group-item-info m-1">User manager</li>
                <li class="list-group-item list-group-item-info m-1">Git and GitHub</li>
            </ul>
        </div>
    </div>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
            <div class="container">
                <h2>Jane Doe</h2>
                <p class="title">CEO & Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>jane@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>

@code {

}
